<div width=960px align='center'>
    
<h2>글을 써 볼게요</h2>

<form action="write" method="get">
    <input type="text" name="username"><br><br>
    <textarea name="content"></textarea><br><br>
    <input type="submit" value="저장하기"><br><br>
</form>

<hr>
<footer>copyright juhee</footer>
</div>